    /*::: PAGE CLIENTES :::*/

    .contenedor__clientes  {

        height: 100%;

    }
    
    .gallery__section {

        height: auto;
        margin: auto;
        overflow: hidden;

        

    }

    .gallery__div {

        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-content: stretch;
        animation: scroll 20s linear infinite;
        -webkit-animation: scroll 18s linear infinite;
        width: calc(170px * 20);
        gap: 30px;
        background-color:#f0f8ff;;
        height: 500px;

    }
    
    .gallery__div .gallery__item {
        width: 150px;
    }
    
    .slider .slide img {
        width: 100%;
    }
    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-200px * 7));
            transform: translateX(calc(-200px * 7));
        }
    }

    .gallery__img {

        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
        display: flex;     



    }
    .h2-clientes{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--secundario);
        height: 200px;
    }
    .clientes__tittle {
        font-family: 'Poppins' sans-serif;
        font-size: var(--text-xxl);
        font-weight: 300;
        background-color: var(--secundario);
        color: var(--terciario);
}

    .h2-clientes::before {
            
        content: '';
        width: 150px;
        height: 4px;
        background-color: var(--primario);
        position:absolute;
        margin-top: 80px;
        
}